﻿@model Veterinario3.Models.AnimalTherapyViewModel
<style>
    #DataCura,
    #Diagnosi,
    #DescrizioneCura{
        width: 250px;
    }
</style>
<div class="container">
    <div class="row">
        <div class="col-md-6 d-flex flex-column align-items-center">
            <h3 class="mb-4">Visita per l'animale: @Model.Animal.Name</h3>
            <p class="mb-4"><span class="fw-bold">Data Registrazione:</span> @Model.Animal.DataReg.ToShortDateString()</p>
            <p class="mb-4"><span class="fw-bold">Tipo di Animale:</span> @Model.Animal.Tipologia</p>
            <p class="mb-4"><span class="fw-bold">Proprietario:</span> @Model.Animal.NomeProprietario</p>
            <p><span class="fw-bold">Telefono Proprietario:</span> @Model.Animal.TelefonoProprietario</p>
        </div>
        <div class="col-md-6">
            <h3 class="text-center">Inserisci Nuova Terapia:</h3>

            <form action="@Url.Action("NewTherapy", "Vet")" method="post" class="d-flex flex-column align-items-center">
                <input type="hidden" id="AnimalId" name="AnimalId" value="@Model.Animal.id" />
                <div class="form-group mb-3">
                    <label for="DataCura" class="control-label fw-bold">Data Cura</label>
                    <input type="date" id="DataCura" name="DataCura" class="form-control border-success" />
                    @Html.ValidationMessage("DataCura", "", new { @class = "text-danger" })
                </div>
                <div class="form-group mb-3">
                    <label for="Diagnosi" class="control-label fw-bold">Diagnosi</label>
                    <input type="text" id="Diagnosi" name="Diagnosi" class="form-control border-success" />
                    @Html.ValidationMessage("Diagnosi", "", new { @class = "text-danger" })
                </div>
                <div class="form-group mb-3">
                    <label for="DescrizioneCura" class="control-label fw-bold">Descrizione Cura</label>
                    <input type="text" id="DescrizioneCura" name="DescrizioneCura" class="form-control border-success" />
                    @Html.ValidationMessage("DescrizioneCura", "", new { @class = "text-danger" })
                </div>
                <button type="submit" class="btn btn-success btn-block">Salva</button>
            </form>
        </div>
    </div>


    <div class="row mt-5">
        <div class="col-md-12">
            <h3 class="text-center">Cronistoria delle Visite:</h3>
            @if (Model.Therapies.Any())
            {


                <div class="table-responsive">
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th class="text-center">Data della Visita</th>
                                <th class="text-center">Diagnosi</th>
                                <th class="text-center">Descrizione Cura</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var terapia in Model.Therapies)
                            {
                                <tr>
                                    <td class="text-center">@terapia.DataCura.ToShortDateString()</td>
                                    <td class="text-center">@terapia.Diagnosi</td>
                                    <td class="text-center">@terapia.DescrizioneCura</td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            }
            else
            {
                <p class="text-center">Non ci sono terapie registrate per questo animale.</p>
            }
        </div>
    </div>


    <div class="row mt-5">
        <div class="col-md-12">
            <p>@Html.ActionLink("Torna indietro", "Animals", "Vet", new { @class = "text-success"})</p>
        </div>
    </div>
</div>