@model Veterinario3.Models.User
@{
    ViewBag.Title = "Login";
}

<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card">
                <div class="card-body d-flex flex-column align-items-center">
                    <h2 class="card-title text-center mb-3">Login</h2>

                    @using (Html.BeginForm())
                    {
                        @Html.AntiForgeryToken()

                        if (TempData["ErrorLogin"] != null)
                        {
                            <div class="alert alert-danger">
                                Le credenziali non sono corrette
                            </div>
                        }

                        <div class="form-group mb-3">
                            @Html.LabelFor(model => model.Username, htmlAttributes: new { @class = "control-label fw-bold" })
                            @Html.EditorFor(model => model.Username, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.Username, "", new { @class = "text-danger" })
                        </div>

                        <div class="form-group mb-3">
                            @Html.LabelFor(model => model.Password, htmlAttributes: new { @class = "control-label fw-bold" })
                            @Html.PasswordFor(model => model.Password, new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger" })
                        </div>

                        <button type="submit" class="btn btn-primary">Accedi</button>
                    }
                </div>
            </div>
        </div>
    </div>
</div>
