@model Veterinario3.Models.Company

<h2 class="titoloPagina fw-bold">Aggiungi azienda alla lista fornitori:</h2>

@using (Html.BeginForm("AddCompany", "Company", FormMethod.Post))
{
    @Html.LabelFor(model => model.Nome)
    @Html.EditorFor(model => model.Nome)


    @Html.LabelFor(model => model.Indirizzo)
    @Html.EditorFor(model => model.Indirizzo)


    @Html.LabelFor(model => model.Recapito)
    @Html.EditorFor(model => model.Recapito)


    <input type="submit" value="Aggiungi Azienda" />
}